h1{
  text-align: center;
  color: red;
  font-size: 60px;
}
.box {
  border: solid black;
  width: 500px;
  height: 700px;
}
.flex-container{
  flex-direction: row;
  display: flex;
  background-color: yellow;
  width: 600px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#flex-item{
  background-color: white;
     width: 40px;
     height: 40px;
     margin: 4px;
     color: white;
 }
 button {
  display: block;
  margin-left: 2px;
  padding: 10px;
  background-color: yellow;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
  box-shadow: 1px 1px 1px 1px gray
  height: 10px;
  width: 28px;
}
button:hover {
  color: white;
  background: orange;
}
#lettertable{
  margin: auto;
  background-color: teal;
}
.wordsused{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/*Start of Willow's work...*/
#object1 {
  margin-left: 150px;
}
#object2, #object3, #object4, #object5, #object6, #object7{
  position: absolute;
  top: 62%;
  margin-left: 150px;
  /*z-index: 0;*/
}
#object8j {
  height: 36px;
  position: absolute;
  top: 64%;
  margin-left: 363px;
  /*z-index: 1;*/

}
#object9j {
  height: 78px;
  position: absolute;
  top: 59%;
  margin-left: 353px;
  /*z-index: 2;*/
}
#object10j {
  height: 43px;
  position: absolute;
  top: 63.8%;
  margin-left: 393.5px;
  /*z-index: 3;*/

}
#object10ff {
  height: 40px;
  position: absolute;
  top: 65.7%;
  margin-left: 361.6px;
  /*z-index: 4;*/

}

/*End of Willow's work*/
